.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.highlighted-text {
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
    rgba(22, 160, 133, 1) 50%
  );
  background-size: 200%;
  background-position: 0 0;
  display: inline;
  transition: 5s ease-in-out;
  font-family: raleway, arial, sans-serif;
  text-transform: uppercase;
}

.highlighted-text:hover {
  background-position: -100% 0;
}
